<nav class="mdc-drawer__drawer">
  {{#header}}
    <header class="mdc-drawer__header">
      <div class="mdc-drawer__header-content mdc-theme--on-primary mdc-theme--primary-bg">
        {{title}}
      </div>
    </header>
  {{/header}}
  <nav class="mdc-drawer__content mdc-list-group">
    <ul class="mdc-list mdc-list--dense">
    {{#menu}}
      {{> molecules-list-item(icon: "{{icon}}", title: "{{label}}", href: "{{path}}")}}
    {{/menu}}
    </ul>
  </nav>
</nav>