<nav class="mdc-drawer__drawer mdc-drawer--{{anchor}}">

 

  <nav class="mdc-drawer__content mdc-list-group">
    <ul class="mdc-list">
    {{#menu}}
        {{> molecules-list-item }}
    {{/menu}}
    </ul>
  </nav>
</nav>