<div class="app-footer bg-white">
    <div class="footer-inner-v1">
        <span class="footer-copyright"><span>© 2018 Ant. All Rights Reserved.</span>
        <a class="list-item" href="javascript:;">Privacy</a>
        <a class="list-item" href="javascript:;">Terms</a></span>
        <ul class="footer-social-list">
            <li><a href="javascript:;"><i class="anticon anticon-google"></i></a></li>
            <li><a href="javascript:;"><i class="anticon anticon-facebook"></i></a></li>
            <li><a href="javascript:;"><i class="anticon anticon-twitter"></i></a></li>
            <li><a href="javascript:;"><i class="anticon anticon-instagram"></i></a></li>
        </ul>
    </div>
</div>