<li class="mdc-image-list__item u-m">
<img class="mdc-image-list__image" src="{{img}}" alt="{{alt}}"/>
  <!--div class="mdc-image-list__image-aspect-container">
    
  </div-->
  
  <div class="mdc-image-list__supporting">
    <span class="mdc-image-list__label">{{title}}</span>
  </div>
</li>