<a class="mdc-list-item" href="{{href}}" title="{{label}}">
   
    {{#icon}}
        <span class="material-icons mdc-list-item__graphic">{{ icon }}</span>
    {{/icon}}
    <span>{{label}}</span>
</a>