
 <header class="mdc-top-app-bar mdc-toolbar--fixed">
  <div class="mdc-top-app-bar__row">
   <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
    <button class="mdc-top-app-bar__navigation-icon menu-btn">
        <i class="material-icons menu-open">menu</i> 
      </button>
    <span class="mdc-top-app-bar__title">AppName</span>
   </section>
   <section class="mdc-toolbar__section">

   </section>
   <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
    <a class="mdc-top-app-bar__action-item" aria-label="Apps">
    {{> atoms-icon(icon: "apps")}}
    </a>
    <a class="mdc-top-app-bar__action-item" aria-label="Notifications">
    {{> atoms-icon(icon: "notifications")}}
    </a>
    <a class="material-icons mdc-top-app-bar__action-item" href="#" id="menu-button">settings</a>
   </section>
  </div>
 </header>
