<div class="cards flex flex--wrap">
    {{> molecules-card(title: 'Card 1')}}
    {{> molecules-card(title: 'Card 2')}}
    {{> molecules-card(title: 'Card 3')}}
    {{> molecules-card(title: 'Card 4')}}
</div>