 {{> organisms-app-bar }}
<div class="app top-app-bar__frame mdc-typography">

  {{> organisms-app-settings }}
  <div class="content drawer-container-flex flex">
    <!-- ################# drawer-->
    {{> organisms-app-drawer }}


    <!--/ ############## drawer-->

    <!-- CONTENT -->
    <div class="mdc-top-app-bar--fixed-adjust flex__item">

      <section class="content">
        <section class="mdc-layout-grid demo-grid">
          <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">
            <h2>Dashboard</h2>
          </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-elevation--z1 mdc-paper u-p">
            {{> organisms-line-chart }}
            </div>
            {{# listItems.six}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
            {{/ listItems.six}} {{# listItems.four}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop demo-cell mdc-elevation--z1"></div>
            {{/ listItems.four}}




          </div>
        </section>
      </section>

    </div>
  </div>
</div>

<style>
.mdc-paper {
  background: white;
}
</style>




<script>
  document.addEventListener("DOMContentLoaded", function () {
    var drawerOpen = false;
    var app = document.querySelector('.app');
    //permanent
    var drawer = new mdc.drawer.MDCPersistentDrawer(document.querySelector('.mdc-drawer--persistent'));
    //const drawer = new mdc.drawer.MDCPersistentDrawer(document.querySelector('.mdc-drawer--persistent'));
    // let drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector(".mdc-drawer--temporary"));
    document.
    querySelector(".mdc-top-app-bar__navigation-icon").
    addEventListener("click", function () {
      drawer.open = !drawer.open;
      drawerOpen = drawer.open;
      console.log('drawerOpen', drawerOpen);
      //app.classList.toggle('drawer-open')
    });
  });
</script>