<style>
  body {
    background: var(--mdc-theme-background);
  }

  .theme1 {
    --mdc-theme-primary: #343a40;
    --mdc-theme-secondary: #343a40;
    --mdc-theme-background: #eee;
  }
</style>

{{> organisms-page-top-bar(pageTitle: "Details")}}

<div class="app mdc-top-app-bar--fixed-adjust">
  <!-- APP-DRAWER -->
  
  <!-- PAGE-TABS -->
  {{> organisms-tab-bar}}

  <!-- PAGE-CONTENT -->
  <main class="app-content flex">
   
    <div class="flex__item">
      <div class="cards flex flex--wrap">
          {{#listItems.ten}}
              {{> organisms-card-3(title: 'Card 1')}}
          {{/listItems.ten}}    
      </div> 
    </div>
  </main>
  {{> organisms-app-settings}}
</div>
