{{> molecules-hero(title: 'Forms')}}
<div class="flex flex--col">
{{> atoms-text-field(id: "username", label: "Username", type: "text", inputId: "input1")}}
{{> atoms-text-field(id: "password", label: "Password", type: "password", inputId: "input2")}}
</div>
