<div class="app">

  <!-- APP-DRAWER -->
  {{> organisms-app-drawer }}
  
  <!-- APP-CONTENT -->

  <main class="app-content">
{{> organisms-page-top-bar(pageTitle: "Forms")}}
    <div>
      Forms
    </div>
  </main>

</div>

