<div class="app flex">
  {{> organisms-page-top-bar}}
  <!-- APP-DRAWER -->
  {{> organisms-app-drawer}}
  
  <!-- APP-CONTENT -->
  <main class="app-content">
    <div>
      <h2>Home</h2>
      <section class="mdc-layout-grid demo-grid">
      <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop demo-cell mdc-elevation--z1"></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop demo-cell mdc-elevation--z1"></div>
      </div>
     </section>
    </div>
  </main>

</div>

