<style>
  body {
    background-color: var(--mdc-theme-background);
  }
  .login-wrapper {
    max-width: 330px;
    margin: 3rem auto;
  }
</style>

<div class="app-login">
  <div class="login-wrapper">
    <div class="flex flex--center">
      {{> molecules-app-logo }}
    </div>
    {{> organisms-login-form }}
  </div>
</div>