<style>
  body {
    background-color: var(--mdc-theme-background);
  }
  .login-wrapper {
    max-width: 330px;
    margin: 3rem auto;
  }
</style>

<div class="app-login">
  <div class="login-wrapper">
    {{> organisms-header(title: "{{appName}}") }} 
    {{> organisms-login-form(action: "{{link.pages-home}}") }}
  </div>
</div>