<style>
  body {
    background: var(--mdc-theme-background);
  }

  :root {
    --mdc-theme-primary: #343a40;
    --mdc-theme-secondary: #343a40;
    --mdc-theme-background: #eee;
  }
</style>

<div class="app flex">
  <!-- APP-DRAWER -->
 {{> organisms-page-top-bar(pageTitle: "Products")}}
  <!-- APP-CONTENT -->
  <main class="app-content flex">
   
    {{> organisms-app-drawer}}
    <div class="flex__item">
      <h2>Products</h2>
       <section class="mdc-layout-grid demo-grid">
      <div class="mdc-layout-grid__inner">
        {{# listItems.six}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
       {{/ listItems.six}}
       {{# listItems.two}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop demo-cell mdc-elevation--z1"></div>
       {{/ listItems.two}}
      </div>
     </section>

      <section class="mdc-layout-grid demo-grid">
      <div class="mdc-layout-grid__inner">
        {{# listItems.six}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
       {{/ listItems.six}}
      
      </div>
     </section>

        
    </div>
  </main>
  {{> organisms-app-settings}}
</div>
