<style>
  body {
    background: var(--mdc-theme-background);
  }

  :root {
    --mdc-theme-primary: #343a40;
    --mdc-theme-secondary: #343a40;
    --mdc-theme-background: #eee;
  }
</style>

<div class="app flex">
  <!-- APP-DRAWER -->
 {{> organisms-page-top-bar(pageTitle: "Products")}}
  {{> organisms-app-drawer}}
  <!-- APP-CONTENT -->
  <main class="app-content flex mdc-top-app-bar--fixed-adjust ">
   
    <div class="flex__item">
      <div class="cards flex flex--wrap">
          {{#listItems.ten}}
              {{> organisms-card-3(title: 'Card 1')}}
              
          {{/listItems.ten}}    
      </div> 
    </div>
  </main>
  {{> organisms-app-settings}}
</div>
