<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.6.2/styles/salesforce-lightning-design-system.min.css">
{{> atoms-salesforce-css }}

<!-- Global Header -->
{{>organisms-slds-global-header}}

<!-- Global Nav -->
{{>organisms-slds-global-nav}}



<!-- Comments -->

<div class="content">

    <!--  Data Center Side Nav -->
    {{>organisms-slds-vertical-nav}}

    <!--  Data Center Map -->
    <div class="map-container u-p">
    {{>organisms-data-map-world}}
    </div>




    <!--  Data Center - Nodes Context -->
     {{> organisms-slds-page-header-base }}
    
    <br>
    {{> organisms-slds-path(title: "node-1") }}




    <div class="u-p">
        <div class="slds-grid slds-gutters simple-grid">
            {{#listItems.four}}
            <div class="slds-col slds-size_1-of-4">
                {{#listItems.four}}
                {{> organisms-slds-card-header(title: "pod") }}
                {{/listItems.four}}
            </div>
            {{/listItems.four}}
        </div>

    </div>


    <br>

    



    <!--  Data Center Details -->

    {{> organisms-slds-page-header }}
    <div class="demo-only">


        <div id="context-tab-panel-1" class="slds-show" role="tabpanel" aria-labelledby="context-tab-id-1"></div>
        <div id="context-tab-panel-2" class="slds-hide" role="tabpanel" aria-labelledby="context-tab-id-2"></div>
        <div id="context-tab-panel-3" class="slds-hide" role="tabpanel" aria-labelledby="context-tab-id-3"></div>


        <div class="slds-tabs_defaul">
            <ul class="slds-tabs_default__nav" role="tablist">
                <li class="slds-tabs_default__item" title="Item One" role="presentation">
                    <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true"
                        aria-controls="tab-default-1" id="tab-default-1__item">Config</a>
                </li>
                <li class="slds-tabs_default__item" title="Item Two" role="presentation">
                    <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1"
                        aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Services</a>
                </li>
                <li class="slds-tabs_default__item slds-is-active" title="Item Three" role="presentation">
                    <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1"
                        aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Pods</a>
                </li>
            </ul>
            <div id="tab-default-1" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-1__item">

    <p>This is content 1</p>

              
            </div>
            <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
                <p>This is content 2</p>
            </div>


            <div id="tab-default-3" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-3__item">
            {{>organisms-slds-pods}}

            </div>
        </div>
    </div>
</div>







<style>
    @font-face {
        font-family: "Salesforce Sans";
        src: url("/styleguide/bower_components/salesforce-lightning-design-system/assets/fonts/SalesforceSans-Regular.woff2") format("woff2"),
            url("/styleguide/bower_components/salesforce-lightning-design-system/assets/fonts/SalesforceSans-Regular.woff") format("woff");
    }

    html,
    body {
        font-family: 'Salesforce Sans';
    }

    html {
        font-family: Salesforce Sans, Arial, sans-serif;
        font-size: 100%;
        line-height: 1.5;
        background: #fafaf9;
        color: #080707;
        -webkit-tap-highlight-color: transparent;
    }

    .slds-context-bar.slds-context-bar_tabs {
        margin-top: 50px;
    }

    .slds-global-header__logo {
        width: 12rem;
        height: 2rem;
        background-image: url('//www.lightningdesignsystem.com/assets/images/logo-noname.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0;
    }
</style>





<script>
//slds-show
// slds-tabs_default__content
const tabs = document.querySelector('.slds-tabs_default__nav');

tabs.addEventListener('click', function(e){

    //remove active
    let activeEl = tabs.querySelector('.slds-is-active');
    if(activeEl){
        activeEl.classList.remove('slds-is-active');
    }
    

    //set active
    //e.target.parentNode.classList.add('slds-is-active');

    let targetTabName = e.target.getAttribute('aria-controls');
    let targetTab = document.getElementById(targetTabName);
    if(targetTab){
        console.log('change tab', e, targetTabName);
        
        document.querySelector('.slds-show').classList.remove('slds-show');
        document.getElementById(targetTabName).classList.add('slds-show')
        document.getElementById(targetTabName).classList.remove('slds-hide')
    }
    
    
    
})

</script>