



<!--

Layout
    App Bar
    App Drawer
    App Content
    App Settings




-->
{{> organisms-page-top-bar(pageTitle: "Sample Page", fixed: true)}}

<div class="flex mdc-typography">
    {{> organisms-app-drawer(open: true)}}
        <div class="flex__item">
            <!-- CONTENT -->
            <section class="content">
                <div class="u-ml+">
                    <h2>Subheader</h2>
                </div>
                <section class="mdc-layout-grid demo-grid">
                    <div class="mdc-layout-grid__inner">
                        {{# listItems.six}}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
                        {{/ listItems.six}}
                        {{# listItems.two}}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop demo-cell mdc-elevation--z1"></div>
                        {{/ listItems.two}}
                    </div>
                </section>

                    
            </section> 
        </div>

</div>
{{> organisms-app-settings(open: false)}}