



<!--

Layout
    App Bar
    App Drawer
    App Content
    App Settings




-->
<div class="app flex mdc-typography">

{{> organisms-page-top-bar(pageTitle: "Sample Page", fixed: true)}}
{{> organisms-app-notifications(open: false)}}

 
    {{> organisms-app-drawer(open: true)}}
   
        <!-- CONTENT -->
        <section class="app-content">
            <div class="u-ml+">
                <h2>Subheader</h2>
            </div>
            <section class="mdc-layout-grid demo-grid">
                <div class="mdc-layout-grid__inner">
                    {{# listItems.six}}
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
                    {{/ listItems.six}}
                    {{# listItems.two}}
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop demo-cell mdc-elevation--z1"></div>
                    {{/ listItems.two}}
                </div>
            </section>

                
        </section> 
      
 

{{> organisms-app-settings(open: false)}}
</div>