<section class="hero text-center">
    <div class="hero-content">
        <h1 class="hero-title">{{title}}</h1>
    </div>
    <p class="hero-lead">{{subtitle}}</p>
</section>

<style>
 .hero-title {
  font-size: 2.75rem;
}

.hero-title {
  line-height: 1.3;
  color: rgba(0,0,0,.87);
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}
.hero-lead {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.hero-lead, .hero-title.text-body-reverse {
  font-weight: 300;
}
</style>