<button id="default-dialog-activation" data-toggle="dialog" data-target="#mdc-dialog-default">Open</button>
<aside id="mdc-dialog-default"
    class="mdc-dialog mdc-dialog--"
    role="alertdialog"
    aria-labelledby="mdc-dialog-with-list-label"
    aria-describedby="mdc-dialog-with-list-description">
    <div class="mdc-dialog__surface">
      <header class="mdc-dialog__header">
        <h2 id="mdc-dialog-with-list-label" class="mdc-dialog__header__title">
          Choose a Ringtone
        </h2>
      </header>
      <section id="mdc-dialog-with-list-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
       	<ul class="mdc-list">
          <li class="mdc-list-item">None</li>
          <li class="mdc-list-item">Callisto</li>
          <li class="mdc-list-item">Ganymede</li>
          <li class="mdc-list-item">Luna</li>
          <li class="mdc-list-item">Marimba</li>
          <li class="mdc-list-item">Schwifty</li>
          <li class="mdc-list-item">Callisto</li>
          <li class="mdc-list-item">Ganymede</li>
          <li class="mdc-list-item">Luna</li>
          <li class="mdc-list-item">Marimba</li>
          <li class="mdc-list-item">Schwifty</li>
        </ul>
      </section>
      <footer class="mdc-dialog__footer">
        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Decline</button>
        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Accept</button>
      </footer>
    </div>
    <div class="mdc-dialog__backdrop"></div>
  </aside>


<style>
.mdc-dialog--full .mdc-dialog__surface {
    height: 100%;
    width: 100%;
}
</style>

<script>

function wireDialog(el){
    var d = new mdc.dialog.MDCDialog(document.querySelector(el.attr('data-target'))); 
    d.listen('MDCDialog:accept', function() {
    console.log('accepted');
    })

    d.listen('MDCDialog:cancel', function() {
    console.log('canceled');
    });

    el.on('click', function(){
        d.show();
    });
}

$(function(){
    $('[data-toggle="dialog"]').each(function(i, el){
        console.log('setup', el);
        wireDialog($(el));
    });
});

</script>