<div class="flex flex--col">
 {{> atoms-checkbox(id: "cb-1", label: "Checkbox 1") }}
 {{> atoms-checkbox(id: "cb-2", label: "Checkbox 2") }}
 {{> atoms-checkbox(id: "cb-3", label: "Checkbox 3") }}
</div>