<div class="mdc-select">
    <select class="mdc-select__native-control">
        <option value="" disabled selected></option>
        <option value="grains">
            Bread, Cereal, Rice, and Pasta
        </option>
        <option value="vegetables">
            Vegetables
        </option>
        <option value="fruit">
            Fruit
        </option>
    </select>
    <label class="mdc-floating-label">Pick a Food Group</label>
    <div class="mdc-line-ripple"></div>
</div>
<!--
<div class="mdc-select mdc-select--outlined">
    <select class="mdc-select__native-control">
        <option value="" disabled selected></option>
        <option value="grains">
            Bread, Cereal, Rice, and Pasta
        </option>
        <option value="vegetables">
            Vegetables
        </option>
        <option value="fruit">
            Fruit
        </option>
    </select>
    <label class="mdc-floating-label">Pick a Food Group</label>
    <div class="mdc-notched-outline">
        <svg>
            <path class="mdc-notched-outline__path"></path>
        </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
</div>
-->

<script>
mdc.select.MDCSelect.attachTo(document.querySelector('.mdc-select'));
</script>