<div class="mdc-text-field text-field {{#full}}mdc-text-field--fullwidth{{/full}}">
  <input type="text" id="text-field-{{id}}" class="mdc-text-field__input"/>
  <label class="mdc-floating-label" for="text-field-{{id}}">{{label}}</label>
  <div class="mdc-line-ripple"></div>
</div>