<div id="text-field-{{id}}" class="mdc-text-field text-field mdc-text-field--box {{#full}}mdc-text-field--fullwidth{{/full}}">
  <input type="{{type}}" id="{{inputId}}-input" class="mdc-text-field__input "/>
  <label class="mdc-floating-label" for="{{inputId}}-input">{{label}}</label>
  
</div>
{{#help}}
  <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">{{help}}</p>
{{/help}}
<script>
document.querySelectorAll('.mdc-text-field').forEach((el) => new mdc.textField.MDCTextField(el))
</script>