<div id="text-field-{{id}}" class="mdc-text-field text-field {{className}} mdc-text-field--box {{#full}}mdc-text-field--fullwidth{{/full}}">
    <input type="{{type}}" id="{{inputId}}-input" class="mdc-text-field__input" {{#required}}required{{/required}} />
    <label class="mdc-floating-label" for="{{inputId}}-input">{{label}}</label>
  </div>
  {{#help}}
    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">{{help}}</p>
  {{/help}}
<script>
document.querySelectorAll('.mdc-text-field').forEach(function(el){
  mdc.textField.MDCTextField.attachTo(el);
});
</script>