<div class="mdc-text-field text-field mdc-text-field--textarea">
  <textarea id="text-field--textarea" class="mdc-text-field__input"></textarea>
  <label class="mdc-floating-label" for="text-field--textarea">{{label}}</label>
<div class="mdc-line-ripple"></div></div>