<button class="mdc-tab mdc-tab--with-icon-and-text" role="tab" tabindex="0" href="{{href}}">
  <div class="mdc-tab__content">
    <span class="mdc-tab__icon material-icons">{{icon}}</span>
    <span class="mdc-tab__text-label">{{label}}</span>
  </div>

  <span class="mdc-tab-indicator">
    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
  </span>
  <div class="mdc-tab__ripple"></div>
</button>
<script>
document.querySelectorAll('.mdc-tab').forEach(function(el){
  mdc.tab.MDCTab.attachTo(el);
});
</script>