/*
 * YOUR STYLES HERE
 */

 .demo-card{
     margin: 1rem;
 }
 .demo-card__primary {
    padding: 1rem;
}

.demo-card {
    width: 350px;
    margin: 48px auto; }
  
  .demo-card--hero {
    margin: 0; }
  
  .demo-card__primary {
    padding: 1rem; }
  
  .demo-card__title {
    margin: 0; }
  
  .demo-card__subtitle {
    color: rgba(0, 0, 0, 0.54);
    /* @alternate */
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
    margin: 0; }
  
  .demo-card__secondary {
    color: rgba(0, 0, 0, 0.54);
    /* @alternate */
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
    padding: 0 1rem 8px 1rem; }
  
  