/*
 * YOUR STYLES HERE
 */

   
 .mdc-list-item{
   user-select: none;
 }

 @media (max-width: 575px) {
   .hidden-xs-only {
     display: none !important
   }
 }

 @media (min-width: 576px) and (max-width:767px) {
   .hidden-sm-only {
     display: none !important
   }
 }

 @media (min-width: 768px) and (max-width:991px) {
   .hidden-md-only {
     display: none !important
   }
 }

 @media (min-width: 992px) and (max-width:1199px) {
   .hidden-lg-only {
     display: none !important
   }
 }

 @media (min-width: 1200px) {
   .hidden-xl-only {
     display: none !important
   }
 }

 .hidden-xs-up {
   display: none !important;
 }

 @media (max-width: 575px) {
   .hidden-xs-down {
     display: none !important;
   }
 }

 @media (min-width: 576px) {
   .hidden-sm-up {
     display: none !important;
   }
 }

 @media (max-width: 767px) {
   .hidden-sm-down {
     display: none !important;
   }
 }

 @media (min-width: 768px) {
   .hidden-md-up {
     display: none !important;
   }
 }

 @media (max-width: 991px) {
   .hidden-md-down {
     display: none !important;
   }
 }

 @media (min-width: 992px) {
   .hidden-lg-up {
     display: none !important;
   }
 }

 @media (max-width: 1199px) {
   .hidden-lg-down {
     display: none !important;
   }
 }

 @media (min-width: 1200px) {
   .hidden-xl-up {
     display: none !important;
   }
 }

 .hidden-xl-down {
   display: none !important;
 }

 .visible-print-block {
   display: none !important;
 }

 @media print {
   .visible-print-block {
     display: block !important;
   }
 }

 .visible-print-inline {
   display: none !important;
 }

 @media print {
   .visible-print-inline {
     display: inline !important;
   }
 }

 .visible-print-inline-block {
   display: none !important;
 }

 @media print {
   .visible-print-inline-block {
     display: inline-block !important;
   }
 }

 @media print {
   .hidden-print {
     display: none !important;
   }
 }

 .text-center {
  text-align: center!important;
}
.divider-solid {
  border-style: solid;
  border-color: rgba(0,0,0,.1);
}

.divider {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: transparent;
  margin-top: .625rem;
  margin-bottom: .625rem;
}
 .demo-card{
     margin: 1rem;
 }
 .demo-card__primary {
    padding: 1rem;
}

.demo-card {
    min-width: 220px;
   
    }
  
  .demo-card--hero {
    margin: 0; }
  
  .demo-card__primary {
    padding: 1rem; }
  
  .demo-card__title {
    margin: 0; }
  
  .demo-card__subtitle {
    color: rgba(0, 0, 0, 0.54);
    /* @alternate */
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
    margin: 0; }
  
  .demo-card__secondary {
    color: rgba(0, 0, 0, 0.54);
    /* @alternate */
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
    padding: 0 1rem 8px 1rem; }
  
  

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inline--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex--row--rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.flex--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex--col--rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.flex--nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex--wrap--rev {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.flex--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex--justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex--spaced {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex--top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex--middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex--bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex--stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex--baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.flex--top--multi {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.flex--middle--multi {
  -ms-flex-line-pack: center;
  align-content: center;
}
.flex--bottom--multi {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.flex--stretch--multi {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.flex--justify--multi {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.flex--spaced--multi {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}
.flex__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex__item--msfix {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex__item--top {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.flex__item--middle {
  -ms-flex-item-align: center;
  align-self: center;
}
.flex__item--bottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.flex__item--baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}


/** Margin helper classes. Add margins. */

.u-m {
  margin: 1rem !important;
}

.u-mt {
  margin-top: 1rem !important;
}

.u-mr {
  margin-right: 1rem !important;
}

.u-mb {
  margin-bottom: 1rem !important;
}

.u-ml {
  margin-left: 1rem !important;
}

.u-mh {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.u-mv {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

/** Add tiny margins. */

.u-m-- {
  margin: 0.33333rem !important;
}

.u-mt-- {
  margin-top: 0.33333rem !important;
}

.u-mr-- {
  margin-right: 0.33333rem !important;
}

.u-mb-- {
  margin-bottom: 0.33333rem !important;
}

.u-ml-- {
  margin-left: 0.33333rem !important;
}

.u-mh-- {
  margin-right: 0.33333rem !important;
  margin-left: 0.33333rem !important;
}

.u-mv-- {
  margin-top: 0.33333rem !important;
  margin-bottom: 0.33333rem !important;
}

/** Add small margins. */

.u-m- {
  margin: 0.66667rem !important;
}

.u-mt- {
  margin-top: 0.66667rem !important;
}

.u-mr- {
  margin-right: 0.66667rem !important;
}

.u-mb- {
  margin-bottom: 0.66667rem !important;
}

.u-ml- {
  margin-left: 0.66667rem !important;
}

.u-mh- {
  margin-right: 0.66667rem !important;
  margin-left: 0.66667rem !important;
}

.u-mv- {
  margin-top: 0.66667rem !important;
  margin-bottom: 0.66667rem !important;
}

/** Add large margins. */

.u-m\00002b {
  margin: 1.33333rem !important;
}

.u-mt\00002b {
  margin-top: 1.33333rem !important;
}

.u-mr\00002b {
  margin-right: 1.33333rem !important;
}

.u-mb\00002b {
  margin-bottom: 1.33333rem !important;
}

.u-ml\00002b {
  margin-left: 1.33333rem !important;
}

.u-mh\00002b {
  margin-right: 1.33333rem !important;
  margin-left: 1.33333rem !important;
}

.u-mv\00002b {
  margin-top: 1.33333rem !important;
  margin-bottom: 1.33333rem !important;
}

/** Add huge margins. */

.u-m\00002b\00002b {
  margin: 2rem !important;
}

.u-mt\00002b\00002b {
  margin-top: 2rem !important;
}

.u-mr\00002b\00002b {
  margin-right: 2rem !important;
}

.u-mb\00002b\00002b {
  margin-bottom: 2rem !important;
}

.u-ml\00002b\00002b {
  margin-left: 2rem !important;
}

.u-mh\00002b\00002b {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.u-mv\00002b\00002b {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

/** Remove margins. */

.u-m0 {
  margin: 0 !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mr0 {
  margin-right: 0 !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.u-mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/** Negative margins. */

.u--m {
  margin: -1rem !important;
}

.u--mt {
  margin-top: -1rem !important;
}

.u--mr {
  margin-right: -1rem !important;
}

.u--mb {
  margin-bottom: -1rem !important;
}

.u--ml {
  margin-left: -1rem !important;
}

.u--mh {
  margin-right: -1rem !important;
  margin-left: -1rem !important;
}

.u--mv {
  margin-top: -1rem !important;
  margin-bottom: -1rem !important;
}

/** Tiny negative margins. */

.u--m-- {
  margin: -0.33333rem !important;
}

.u--mt-- {
  margin-top: -0.33333rem !important;
}

.u--mr-- {
  margin-right: -0.33333rem !important;
}

.u--mb-- {
  margin-bottom: -0.33333rem !important;
}

.u--ml-- {
  margin-left: -0.33333rem !important;
}

.u--mh-- {
  margin-right: -0.33333rem !important;
  margin-left: -0.33333rem !important;
}

.u--mv-- {
  margin-top: -0.33333rem !important;
  margin-bottom: -0.33333rem !important;
}

/** Small negative margins. */

.u--m- {
  margin: -0.66667rem !important;
}

.u--mt- {
  margin-top: -0.66667rem !important;
}

.u--mr- {
  margin-right: -0.66667rem !important;
}

.u--mb- {
  margin-bottom: -0.66667rem !important;
}

.u--ml- {
  margin-left: -0.66667rem !important;
}

.u--mh- {
  margin-right: -0.66667rem !important;
  margin-left: -0.66667rem !important;
}

.u--mv- {
  margin-top: -0.66667rem !important;
  margin-bottom: -0.66667rem !important;
}

/** Large negative margins. */

.u--m\00002b {
  margin: -1.33333rem !important;
}

.u--mt\00002b {
  margin-top: -1.33333rem !important;
}

.u--mr\00002b {
  margin-right: -1.33333rem !important;
}

.u--mb\00002b {
  margin-bottom: -1.33333rem !important;
}

.u--ml\00002b {
  margin-left: -1.33333rem !important;
}

.u--mh\00002b {
  margin-right: -1.33333rem !important;
  margin-left: -1.33333rem !important;
}

.u--mv\00002b {
  margin-top: -1.33333rem !important;
  margin-bottom: -1.33333rem !important;
}

/** Huge negative margins. */

.u--m\00002b\00002b {
  margin: -2rem !important;
}

.u--mt\00002b\00002b {
  margin-top: -2rem !important;
}

.u--mr\00002b\00002b {
  margin-right: -2rem !important;
}

.u--mb\00002b\00002b {
  margin-bottom: -2rem !important;
}

.u--ml\00002b\00002b {
  margin-left: -2rem !important;
}

.u--mh\00002b\00002b {
  margin-right: -2rem !important;
  margin-left: -2rem !important;
}

.u--mv\00002b\00002b {
  margin-top: -2rem !important;
  margin-bottom: -2rem !important;
}

/** Padding helper classes. Add paddings. */

.u-p {
  padding: 1rem !important;
}

.u-pt {
  padding-top: 1rem !important;
}

.u-pr {
  padding-right: 1rem !important;
}

.u-pb {
  padding-bottom: 1rem !important;
}

.u-pl {
  padding-left: 1rem !important;
}

.u-ph {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.u-pv {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/** Add tiny paddings. */

.u-p-- {
  padding: 0.33333rem !important;
}

.u-pt-- {
  padding-top: 0.33333rem !important;
}

.u-pr-- {
  padding-right: 0.33333rem !important;
}

.u-pb-- {
  padding-bottom: 0.33333rem !important;
}

.u-pl-- {
  padding-left: 0.33333rem !important;
}

.u-ph-- {
  padding-right: 0.33333rem !important;
  padding-left: 0.33333rem !important;
}

.u-pv-- {
  padding-top: 0.33333rem !important;
  padding-bottom: 0.33333rem !important;
}

/** Add small paddings. */

.u-p- {
  padding: 0.66667rem !important;
}

.u-pt- {
  padding-top: 0.66667rem !important;
}

.u-pr- {
  padding-right: 0.66667rem !important;
}

.u-pb- {
  padding-bottom: 0.66667rem !important;
}

.u-pl- {
  padding-left: 0.66667rem !important;
}

.u-ph- {
  padding-right: 0.66667rem !important;
  padding-left: 0.66667rem !important;
}

.u-pv- {
  padding-top: 0.66667rem !important;
  padding-bottom: 0.66667rem !important;
}

/** Add large paddings. */

.u-p\00002b {
  padding: 1.33333rem !important;
}

.u-pt\00002b {
  padding-top: 1.33333rem !important;
}

.u-pr\00002b {
  padding-right: 1.33333rem !important;
}

.u-pb\00002b {
  padding-bottom: 1.33333rem !important;
}

.u-pl\00002b {
  padding-left: 1.33333rem !important;
}

.u-ph\00002b {
  padding-right: 1.33333rem !important;
  padding-left: 1.33333rem !important;
}

.u-pv\00002b {
  padding-top: 1.33333rem !important;
  padding-bottom: 1.33333rem !important;
}

/** Add huge paddings. */

.u-p\00002b\00002b {
  padding: 2rem !important;
}

.u-pt\00002b\00002b {
  padding-top: 2rem !important;
}

.u-pr\00002b\00002b {
  padding-right: 2rem !important;
}

.u-pb\00002b\00002b {
  padding-bottom: 2rem !important;
}

.u-pl\00002b\00002b {
  padding-left: 2rem !important;
}

.u-ph\00002b\00002b {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.u-pv\00002b\00002b {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

/** Remove paddings. */

.u-p0 {
  padding: 0 !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-pr0 {
  padding-right: 0 !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pl0 {
  padding-left: 0 !important;
}

.u-ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.u-pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

html, body {
  height: 100%; background: #eee;}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; }

.header {
  text-align: center; }



.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto; }

.button-container button {
  margin: 3px; }

.app {
  
  height: 100vh;
}

  .app-content {
    flex: 1;
  }


  .demo-cell {
  background: white;
  border-radius: 5px;
  min-height: 160px;
}
 
:root {
   --mdc-theme-primary: #343a40;
   --mdc-theme-secondary: #343a40;
   --mdc-theme-background: #eee;
 }