<section class="mdc-layout-grid u-p-">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
           
            <label class="color-option-check theme-1b">
                <input type="radio" name="color" value="1b">
                <span class="color-option-item bg-page">
                    <span class="overlay">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <span class="bg-dark item-header"></span>
                    <span class="bg-white item-header"></span>
                    <span class="bg-dark"></span>
                </span>
            </label>


            <label class="color-option-check">
                <input type="radio" name="color" value="2">
                <span class="color-option-item bg-page">
                    <span class="overlay">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <span class="bg-primary item-header"></span>
                    <span class="bg-white item-header"></span>
                    <span class="bg-dark"></span>
                </span>
            </label>
            <label class="color-option-check">
                <input type="radio" name="color" value="3">
                <span class="color-option-item bg-page">
                    <span class="overlay">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <span class="bg-success item-header"></span>
                    <span class="bg-white item-header"></span>
                    <span class="bg-dark"></span>
                </span>
            </label>
            <label class="color-option-check">
                <input type="radio" name="color" value="4">
                <span class="color-option-item bg-page">
                    <span class="overlay">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <span class="bg-info item-header"></span>
                    <span class="bg-white item-header"></span>
                    <span class="bg-dark"></span>
                </span>
            </label>
            <label class="color-option-check">
                <input type="radio" name="color" value="5">
                <span class="color-option-item bg-page">
                    <span class="overlay">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <span class="bg-warning item-header"></span>
                    <span class="bg-white item-header"></span>
                    <span class="bg-dark"></span>
                </span>
            </label>
            <label class="color-option-check">
                <input type="radio" name="color" value="6">
                <span class="color-option-item bg-page">
                    <span class="overlay">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <span class="bg-danger item-header"></span>
                    <span class="bg-white item-header"></span>
                    <span class="bg-dark"></span>
                </span>
            </label>
        </div>
        
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">

            {{#themes}}
            <label class="color-option-check theme-{{name}}">
                <input type="radio" name="color" value="{{name}}">
                <span class="color-option-item bg-page">
                    <span class="overlay">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <span class="bg-dark mdc-theme--primary-bg item-header"></span>
                    <span class="bg-white mdc-theme--primary-bg item-header"></span>
                    <span class="mdc-theme--background"></span>
                </span>
            </label>
            {{/themes}}
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            {{#themes}}
            <label class="color-option-check theme-{{name}}">
                <input type="radio" name="color" value="{{name}}">
                <span class="color-option-item bg-page mdc-theme--background">
                    <span class="overlay">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <span class="bg-dark mdc-theme--primary-bg item-header"></span>
                    <span class="bg-white mdc-theme---bg item-header"></span>
                    <span class="mdc-theme--background"></span>
                </span>
            </label>
            {{/themes}}
        </div>
</section>


<script>
    $(function () {
        $('input[name="color"]').bind('change', function (e) {
            var prevName = $('body').attr('data-theme');
            var newName = 'theme-' + e.target.value;
            $('body')
                .toggleClass(prevName)
                .attr('data-theme', newName)
                .toggleClass(newName);
            console.log('changeTheme', newName);
        })
    });
</script>