<div class="mdc-card demo-card flex__item card-0 mdc-typography">
    <div class="demo-card__primary u-pb0">
        <h2 class="demo-card__title mdc-typography--headline6">{{cardTitle}}</h2>
    </div>
    <div class="demo-card__secondary mdc-typography--body2 u-p">Visit ten places on our planet that are undergoing the biggest changes today.</div>
    {{#actions}}
    <footer class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action</button>
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action</button>
        </div>
    </footer>
    {{/actions}}
</div>