<style>
  .username, .password {
    display: block;
    width: 300px;
    margin: 20px auto;
  }
</style>

<form action="{{action}}">
  {{> atoms-text-field(label: "Username", type: "text", inputId: "username", className: "username", required: true)}}
  {{> atoms-text-field(label: "Password", type: "password", inputId: "password", className: "password", required: true)}}
  <div class="button-container">
    {{> atoms-button(label: "Cancel", className: "cancel", type: "reset") }}
    {{> atoms-button(label: "Next", className: "next", type: "submit", raised: true) }}
  </div>
</form>