<style>
 body {
   background: var(--mdc-theme-background);
 }

 :root {
   --mdc-theme-primary: #343a40;
   --mdc-theme-secondary: #343a40;
   --mdc-theme-background: #eee;

 }
</style>

<div class="top-app-bar__frame">
    <div class="drawer-container-flex flex">
        {{> organisms-drawer-persistent(header: false)}}
        {{> organisms-app-bar(fixed: true) }}
        <div class="mdc-top-app-bar--fixed-adjust">
           <section class="u-mh u-p--">
                {{> molecules-paragraph}}
                {{> molecules-paragraph}}
                {{> molecules-paragraph}}
                {{> molecules-paragraph}}
           </section>
        </div>
    </div>
</div>


<script>
const drawer = new mdc.drawer.MDCPersistentDrawer(document.querySelector(".mdc-drawer--persistent"));
document.querySelector(".app__drawer-toggle").addEventListener("click", () => {
    drawer.open = !drawer.open;
});
</script>