<style>
    body {
        background: var(--mdc-theme-background);
    }

    :root {
        --mdc-theme-primary: #343a40;
        --mdc-theme-secondary: #343a40;
        --mdc-theme-background: #eee;
    }
</style>
<div class="drawer-container-flex flex app mdc-typography">
    <aside class="mdc-drawer mdc-drawer--permanent">
        <nav class="mdc-drawer__drawer">
            {{> organisms-drawer-header-user }}
            <nav class="mdc-drawer__content mdc-list-group">
               {{> organisms-nav-list }}
            </nav>
        </nav>
    </aside>
    <div class="drawer-header-flex">
        <header class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">Permanent Drawer</span>
                </section>
            </div>
        </header>
    </div>
    <div class="mdc-top-app-bar--fixed-adjust">
        <section class="u-mh u-p--">
            {{> molecules-paragraph}} {{> molecules-paragraph}} {{> molecules-paragraph}} {{> molecules-paragraph}}
        </section>
    </div>
</div>