<style>
    body {
        background: var(--mdc-theme-background);
    }

    :root {
        --mdc-theme-primary: #343a40;
        --mdc-theme-secondary: #343a40;
        --mdc-theme-background: #eee;
    }
</style>
<div class="drawer-container-flex app flex mdc-typography">
    <aside class="mdc-drawer mdc-drawer--persistent">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header">
                <div class="mdc-drawer__header-content mdc-theme--on-primary mdc-theme--primary-bg">Header here</div>
            </header>
            <nav class="mdc-drawer__content mdc-list-group">
                <div class="mdc-list">
                    {{# menu}}
                    <a class="mdc-list-item" href="{{href}}">
                        <span class="material-icons mdc-list-item__graphic">{{ icon }}</span>
                        {{label}}
                    </a>
                    {{/menu}}
                </div>
            </nav>
        </nav>
    </aside>
    <div class="drawer-header-flex">
        <header class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon app__drawer-toggle">menu</button>
                    <span class="mdc-top-app-bar__title">Persistent Drawer</span>
                </section>
            </div>
        </header>
    </div>
    <div class="mdc-top-app-bar--fixed-adjust">
        <section class="u-mh u-p--">
            {{> molecules-paragraph}} {{> molecules-paragraph}} {{> molecules-paragraph}} {{> molecules-paragraph}}
        </section>
    </div>
</div>

<script>
    (function () {
        document.querySelector('.app__drawer-toggle').addEventListener('click', function (e) {
            console.log('Find and toggle settings drawer');
            let appDrawer = document.querySelector('.mdc-drawer');

            if (appDrawer) {
                let drawer = new mdc.drawer.MDCPersistentDrawer(appDrawer);
                drawer.open = !drawer.open;
            }
        });
    })();
</script>