<div class="drawer-container-flex app flex">
    <aside class="mdc-drawer mdc-drawer--persistent">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header">
                <div class="mdc-drawer__header-content mdc-theme--on-primary mdc-theme--primary-bg">Header here</div>
            </header>
            <nav class="mdc-drawer__content mdc-list-group">
                <div id="icon-with-text-demo" class="mdc-list">
                    <a class="mdc-list-item mdc-list-item--selected demo-drawer-list-item" tabindex="-1" data-mdc-tabindex="-1"
                        data-mdc-tabindex-handled="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox</a>
                    <a class="mdc-list-item demo-drawer-list-item" tabindex="-1" data-mdc-tabindex="-1"
                        data-mdc-tabindex-handled="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star</a>
                    <a class="mdc-list-item demo-drawer-list-item" tabindex="-1" data-mdc-tabindex="-1"
                        data-mdc-tabindex-handled="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>Sent Mail</a>
                    <a class="mdc-list-item demo-drawer-list-item" tabindex="-1" data-mdc-tabindex="-1"
                        data-mdc-tabindex-handled="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>Drafts</a>
                </div>
                <hr class="mdc-list-divider">
                <div class="mdc-list">
                    <a class="mdc-list-item demo-drawer-list-item" tabindex="-1" data-mdc-tabindex="-1" data-mdc-tabindex-handled="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>All Mail</a>
                    <a class="mdc-list-item demo-drawer-list-item" tabindex="-1" data-mdc-tabindex="-1"
                        data-mdc-tabindex-handled="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>Trash</a>
                    <a class="mdc-list-item demo-drawer-list-item" tabindex="-1" data-mdc-tabindex="-1"
                        data-mdc-tabindex-handled="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam</a>
                </div>
            </nav>
        </nav>
    </aside>
    <div class="drawer-header-flex">
        <header class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon app__drawer-toggle">menu</button>
                    <span class="mdc-top-app-bar__title">Persistent Drawer</span>
                </section>
            </div>
        </header>
    </div>
    <div class="mdc-top-app-bar--fixed-adjust">
        <section class="u-mh u-p--">
            {{> molecules-paragraph}} {{> molecules-paragraph}} {{> molecules-paragraph}} {{> molecules-paragraph}}
        </section>
    </div>
</div>

<script>
(function(){
  document.querySelector('.app__drawer-toggle').addEventListener('click', function(e){
    console.log('Find and toggle settings drawer');
    let appDrawer = document.querySelector('.mdc-drawer');
    
    if(appDrawer){
        let drawer = new mdc.drawer.MDCPersistentDrawer(appDrawer);
        drawer.open = !drawer.open;
    }
  });
})();</script>