<div class="app">

  <!-- APP-DRAWER -->
  {{> organisms-app-drawer}}
  
  <!-- APP-CONTENT -->

  <main class="app-content">
    {{> molecules-hero(title: title)}}
    <div>

      {{content}}
    </div>
  </main>

</div>

