<div class="top-app-bar__frame">
    <div class="drawer-container-flex">
        {{>organisms-drawer-temporary}}
        <div class="drawer-header-flex">
            <header class="mdc-top-app-bar" style="top: 0px;">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <button class="material-icons mdc-top-app-bar__navigation-icon">menu</button>
                        <span class="mdc-top-app-bar__title">Temporary Drawer</span>
                    </section>
                </div>
            </header>
        </div>
        <div class="mdc-top-app-bar--fixed-adjust">
           <section class="u-mh u-p--">
                {{> molecules-paragraph}}
           </section>
        </div>
    </div>
</div>

<script>
 const drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector(".mdc-drawer"));
document.querySelector(".mdc-top-app-bar__navigation-icon").addEventListener("click", () => {
    drawer.open = !drawer.open;
    console.log("drawerOpen", drawer);
});
</script>