<style>
 body {
   background: var(--mdc-theme-background);
 }

 :root {
   --mdc-theme-primary: #343a40;
   --mdc-theme-secondary: #343a40;
   --mdc-theme-background: #eee;
 }
</style>

<div class="top-app-bar__frame">
    <div class="drawer-container-flex flex">
        
         
         <aside class="mdc-drawer mdc-drawer--temporary">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header">
                <div class="mdc-drawer__header-content mdc-theme--on-primary mdc-theme--primary-bg">
                    <span>{{appName}}</span>
                </div>
            </header>
            <nav class="mdc-drawer__content mdc-list-group">
                <div class="mdc-list">
                    {{# menu}}
                    <a class="mdc-list-item" href="{{href}}">
                        <span class="material-icons mdc-list-item__graphic">{{ icon }}</span>
                        {{label}}
                    </a>
                    {{/menu}}
                </div>
            </nav>
        </nav>
    </aside>
        <div class="drawer-header-flex">
        {{> organisms-app-bar(user: true) }}
        </div>
        <div class="mdc-top-app-bar--fixed-adjust">
           <section class="u-mh u-p--">
                {{> molecules-paragraph}}
           </section>
        </div>
    </div>
    {{> organisms-app-settings }}
</div>

<script>
const drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector(".mdc-drawer"));
document.querySelector(".mdc-top-app-bar__navigation-icon").addEventListener("click", () => {
    drawer.open = !drawer.open;
    console.log("drawerOpen", drawer);
});
</script>
