<style>
body {
  background-color: var(--mdc-theme-background);
}
:root {
  --mdc-theme-primary: #343a40;
  --mdc-theme-secondary: #343a40;
  --mdc-theme-background: #eee;
}
.login-wrapper{
  max-width: 330px;
  margin: 3rem auto;
}
</style>


<div class="login-wrapper">
  <div class="mdc-card">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle">
        <h2>Login</h2>  
        {{> atoms-text-field(label: "Username", outlined: true)}}
      </div>
    </div>
    
  </div>
</div>