<style>
body {
  background-color: var(--mdc-theme-background);
}
:root {
  --mdc-theme-primary: #343a40;
  --mdc-theme-secondary: #343a40;
  --mdc-theme-background: #eee;
}
.login-wrapper{
  max-width: 330px;
  margin: 3rem auto;
}
</style>

<div class="app-login">

  <div class="login-wrapper">
    {{> organisms-header(title: "App") }}
    {{> organisms-login-form }}
  </div>
  

</div>