


<div class="app">

  <!-- APP-DRAWER -->
  
  {{> organisms-app-settings}}
  {{> organisms-app-topbar}} 
  <!-- APP-CONTENT -->
  <main class="app-content flex">
    {{> organisms-app-drawer}}   
    <div class="flex__item">
      <div class="mdc-top-app-bar--fixed-adjust mdc-typography">
        <section class="mdc-layout-grid demo-grid">
          <div class="mdc-layout-grid__inner">
            {{# listItems.six}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet demo-cell mdc-elevation--z1 "></div>
            {{/ listItems.six}} 

            {{# listItems.two}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop demo-cell mdc-elevation--z1"></div>
            {{/ listItems.two}}
          </div>
        </section>
      </div>
    </div>
  </main>

</div>