<nav class="app-drawer mdc-drawer mdc-drawer--persistent {{#open}}mdc-drawer--open{{/open}}">
  <div class="mdc-drawer__toolbar-spacer"></div>
  <div class="mdc-drawer__drawer">
    <header class="mdc-drawer__header">
          <div class="mdc-drawer__header-content">
          <div class="flex flex--col flex--center flex--middle">
            {{> molecules-app-logo }}
            <span class="app-title">{{appName}}</span>
          </div>
          </div>
        </header>
  
      
    
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
      {{# menu}}
        <a class="mdc-list-item" href="{{href}}">
          {{label}}
        </a>
      {{/menu}}
      </nav>
    </div>
    </div>
  </nav>

  <style>
  .app-drawer{
    header:100vh;
  }
.app-drawer .app-logo {
width: 50px;
height: 50px;
padding-top: 20px;
fill: currentColor; }
</style>