<style>
    :root {
        --mdc-theme-secondary: #343a40;
        --mdc-theme-background: #eee;
    }

    .test .mdc-top-app-bar__title {
        color: var(--mdc-theme-secondary, black)
    }

    .test .hamburger .material-icons {
        color: inherit;
    }

    .test .hamburger {
        fill: black;
        color: black !important;
    }

    .avatar {
        height: 30px;
        border-radius: 50%;
    }
</style>
<header class="page-top-bar mdc-top-app-bar mdc-top-app-bar--static {{#fixed}}mdc-top-app-bar--fixed{{/fixed}}">
    <div class="mdc-top-app-bar__row flex flex--spaced">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="hamburger mdc-top-app-bar__navigation-icon app__drawer-toggle" title="Toggle Drawer">
                <span class="material-icons">menu</span>
            </button>

            {{#backBtn}}
            <a href="../" class="mdc-top-app-bar__action-item">
                <span class="material-icons ">chevron_left</span> Back
            </a>
            {{/backBtn}}
            <span class="mdc-top-app-bar__title">{{ pageTitle }}</span>
        </section>
        <section class="mdc-toolbar__sectio"></section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <div class="hidden-sm-down flex">
                {{> molecules-app-bar-action(icon: "notifications", label: "Notifications")}}
                {{> molecules-app-bar-action(icon: "apps", label: "Apps")}} 
                {{> molecules-app-bar-action(icon: "tune", label: "Settings", className: "app__settings-toggle")}}
            </div>
            <div class="mdc-menu-anchor">
                <a href="#" class="mdc-top-app-bar__action-item app__user-toggle">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49212/profile/profile-80.jpg?4" alt="@username" class="avatar" />
                </a>
                <div class="mdc-menu" tabindex="-1">
                    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            A Menu Item
                        </li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            Another Menu Item
                        </li>
                    </ul>
                </div>
            </div>
            
        </section>
    </div>
</header>

<script>

// Instantiation
 var menuEl = document.querySelector('.mdc-menu');
  var menu = new mdc.menu.MDCMenu(menuEl);
 var menuButtonEl = document.querySelector('.app__user-toggle');

  // Toggle menu open
  menuButtonEl.addEventListener('click', function() {
    menu.open = !menu.open;
  });

  // Listen for selected item
  menuEl.addEventListener('MDCMenu:selected', function(evt) {
     var detail = evt.detail;
  });

  // Set Anchor Corner to Bottom End
 //menu.setAnchorCorner(mdc.menu.Corner.BOTTOM_LEFT);

  // Turn off menu open animations
  menu.quickOpen = true;
    document.querySelector('.app__drawer-toggle').addEventListener('click', function (e) {
        console.log('Find and toggle drawer');
        let appDrawer = document.querySelector('.app-drawer');

        if (appDrawer) {
            let drawer = new mdc.drawer.MDCPersistentDrawer(appDrawer);
            drawer.open = !drawer.open;
            console.log('Toggle', drawer);
        }
    });
</script>