<nav class="mdc-list mdc-list--dense">
    {{#menu}}
        {{> molecules-nav-item }}
    {{/menu}}
    <hr class="mdc-list-divider">
    <a class="mdc-list-item" tabindex="-1" href="/logout">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">lock</i>
        <span>Sign out</span>
    </a>
</nav>