<ul class="mdc-list mdc-list--avatar-list" aria-orientation="vertical">
  {{# listItems.six }}
  {{> molecules-list-item-avatar}}
  {{/ listItems.six }}
</ul>

<script>
var listEle = document.querySelector('.mdc-list--avatar-list');
var list = new mdc.list.MDCList(listEle);
list.singleSelection = true;
</script>