<ul class="mdc-list mdc-list--two-line" aria-orientation="vertical">
 {{# listItems.six }}
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">
      First-line text
      <span class="mdc-list-item__secondary-text">
        Second-line text
      </span>
    </span>
    <span class="mdc-list-item__meta">
      meta
    </span>
  </li>
 {{/ listItems.six }}
 <li class="mdc-list-item">
    <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
    <span class="mdc-list-item__text">Dog Photos
      <span class="mdc-list-item__secondary-text">9 Jan 2018</span>
    </span>
    <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
  </li>
</ul>