<ul class="mdc-list mdc-list--two-line" aria-orientation="vertical">
 {{# listItems.six }}
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">
      
      <span class="mdc-list-item__primary-text">
        First-line text
      </span>
      <span class="mdc-list-item__secondary-text">
        Second-line text
      </span>
    </span>
    <span class="mdc-list-item__meta">
      meta
    </span>
  </li>
 {{/ listItems.six }}
 
</ul>