<ul id="list1" class="mdc-list" aria-orientation="vertical">
  {{# listItems.three }}
    <li class="mdc-list-item">
      <span>{{title}}</span>
    </li>
    <li class="mdc-list-item">
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">{{title}}</span>
      </span>
    </li>
 {{/ listItems.three }}
</ul>

<script>
var listEle = document.querySelector('#list1');
var list = new mdc.list.MDCList(listEle);
list.singleSelection = true;
</script>