<ul class="mdc-image-list product-list my-masonry-image-list">
    {{# listItems.ten }}
        {{> molecules-image-list-item(title: "Image", img: "http://placeimg.com/300/300/tech", alt: "img1")}}
       
    {{/ listItems.ten }}
</ul>
<style>

.product-list {
overflow: auto; }
.product-list .mdc-image-list__item {
width: calc(100% / 4 - 4.25px);
margin: 2px; }

</style>