<ul class="mdc-list mdc-list--two-line" aria-orientation="vertical">
  {{# listItems.five }}
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">
      First-line text
      <span class="mdc-list-item__secondary-text">
        Second-line text
      </span>
    </span>
  </li>
  {{/ listItems.five }}
</ul>