<div class="slds-grid slds-gutters simple-grid">
      <div class="slds-col">
         <span>1</span>
      </div>
      <div class="slds-col">
         <span>2</span>
      </div>
      <div class="slds-col">
         <span>3</span>
      </div>
      <div class="slds-col">
         <span>4</span>
      </div>
   </div>

   <br>
   <div class="slds-grid slds-gutters simple-grid">
      <div class="slds-col slds-size_2-of-3">
         <span>1</span>
      </div>
      <div class="slds-col slds-size_1-of-3">
         <span>2</span>
      </div>
   </div>

   <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
         <span>1</span>
      </div>
      <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
         <span>2</span>
      </div>
   </div>

   <style>
   
.simple-grid .slds-col {
    display: inline-flex;
    background: #54698d;
    color: #fff;
    text-align: center;
    background-clip: content-box;
    border: 1px solid #fff;
    border-radius: 0;
}
.slds-col > span {
    align-self: center;
    margin: auto;
    font-size: 1.575rem;
    padding: 0.5rem;
}
   </style>